

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.div-dad{
    height: 350px;
    width:350px;
    background-color: #ff1396;

}


.div-son{
    height: 150px;
    width: 150px;
    background-color: #ff0;
}

.tannannan{
    background: #f00;
    height: 100px;
    width: 100px;

}


input{
    border: 1px solid blue;
    color: blue;
}

input::placeholder{
    color: pink;
}

p::first-letter{
    color: #f00;
}

p::first-line{
    color: blue;
}

a{
    color: blue;
}

a::after{
    content: ">";
}

a:active{
    color: red;
}


a:hover{
    color: #ff1396;
}


input:checked{
    width: 50px;
    height: 50px;

}

li:first-child{
    color: #f00;
}




.container:not(p){
    color:#ff0;
}