/* ; e obrigatorio */


#titulo {
    color: red;
    text-shadow: 5px 4px 5px white ;
    text-overflow: ellipsis;
    background: 30px gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

p {
    color: rgb(28, 50, 151);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    text-decoration: wavy;
}

.butao, input {
    border-color: blue;
    background: gray;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    font-weight: bold;
}

table {
    padding: auto;
    box-sizing:border-box;  
    word-spacing: 3px; 
    
}


