* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: none;

}

.logo {
    margin-right: 180px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
 
.logo-image, .contact-image, .service-image, .expert{
    vertical-align:middle;
}

body {
    background: linear-gradient(63deg, #040006 -2.05%, #62005F 112.81%);
    width: 1280px;
}


.link-header {
    margin-right: 55px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.link-contact {
    margin-left: 123px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}


header {
    margin-left: 103px;
    color: #ffff;
    width: 1280px;
    cursor: pointer;
    margin-top: 45px;

}

main {
    color: #ffff;
    margin-left: 103px;
    

}

.section-1 {
    display: inline-block;
    width: 516px;
    margin: 113px 0 43px 0; 
       
}

.section-2 {
    width: 516px;
    display:inline-block;
    margin: 155px 0 0 0;
    position: relative;
    bottom: 0;
    top: 108px;
    
}

.ideogram-image {
    width: 513px;
    height: 513px;
    margin: 120px 0 0 0;
    
    

}

.ideogram-box {
    border-radius: 240px 240px 0px 0px;
    background: linear-gradient(31deg, #140119 1.55%, #5B0E4E 88.54%);
    box-shadow: 0px 4px 250px 0px rgba(255, 201, 62, 0.25);
    margin-left: 37px;
    width: 516px;
    height: 636px;


    

}

.welcome {
    margin-bottom: 38px;
    color: #FD653D;
}

.main-h1 {
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 24px;
    text-align: left;

}

span {

    color: #FF5A37;
    font-weight: 800;
    background: transparent;

}

.service {
    margin-top: 51px;
    margin-bottom: 94px;
}


.paragraph-1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

button {
    width: 159px;
    height: 48px;
    border-radius: 40px;
    background: linear-gradient(86deg, #FF5A37 0.61%, #FF3778 127.62%);
    color: #ffff;
}



.schedule-link {
    text-decoration: underline;
}


.expert {
    display: inline-block;
}

.paragraph-2 {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.paragraph-3{
    width: 284px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 44px;
}