

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    
    line-height: normal;
    margin:47px 0 194.2px 42px;

}

.header-text{
    margin-left: 32px;
    font-weight: 400px;
    font-size: 14px;
    color: #17233D;
    cursor: pointer;
}

.image-logo{
    width: 533.834px;
    height: 466.9px;
    margin-left: 121px;
}

.signup-button{
    margin-left: 32px;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    color: #ffff;
    border-radius: 6px;
    border: 1px solid #4CB538;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.learn-button{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    background: #ffff;
    color: #6FBF44;
    border: none;
    cursor: pointer;
    margin-top: 55px;
}

section{
    display: inline-block;
    margin-left: 84.98px;
}

h1{
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;
    color: #161A49;
}

p{
    width: 493px;
    margin-top: 47px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    text-align: justify;
}


main{
    margin-bottom: 108px;
}



@media screen and (max-width: 700px ) {

    section{
        
        position: absolute;
        top: 30%;
        text-align: center;
        margin: 0 43px;
        
    }

    .header-text {
        display: none;
    }

    .signup-button{
        margin-left: 450px;

    }

    .image-logo{
        position: absolute;
        top: 90%;
        margin-left: 45px;
        margin-right: 45px;

    }

    p{
        text-align: center;
        margin: auto;

    }
    
}